---
import BentoItem from './BentoItem.astro'
---

<section
    class={`
    w-full max-w-[1400px]
    grid grid-cols-10 auto-rows-[35rem] gap-4
    mx-autp p-20
    `}
>
    <BentoItem title="Conectividad Segura"/>
    <BentoItem title="Servicios Administrados"/>
    <BentoItem title="Nube Segura"/>
    <BentoItem title="Infraestructura Empresarial"/>
    <BentoItem title="Soluciones de Software"/>

    

</section>