---
import BentoItem from './BentoItem.astro'
---

<section
    class={`
    w-full max-w-[1400px]
    grid sm:grid-cols-10  auto-rows-[30rem] gap-4
    mx-auto p-20
    `}
>
    <BentoItem 
    class="col-span-10 md:col-span-4" 
    title="Conectividad Robusta"
    >
    <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full 
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10 "
        style="background-image: url('/conect.png') "
    >
    </div>
    
    <p slot="content" class="max-w-xl">Nos especializamos en proporcionar conexiones confiables y de alta velocidad, asegurando que su empresa opere sin interrupciones. Desde redes cableadas hasta soluciones inalámbricas, garantizamos una conectividad que impulsa la eficiencia.
        </p>
    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-6" title="Servicios Administrados">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full 
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10 "
        style="background-image: url('/servicios.png') "
    >
    </div>
        <p slot="content" class="max-w-xl">Simplificamos la gestión de su entorno IT. Con monitoreo proactivo, soporte técnico y actualizaciones regulares, nuestros servicios administrados permiten que se enfoque en su negocio mientras cuidamos de su infraestructura tecnológica.</p>

    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-6" title="Nube Segura">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full 
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10 "
        style="background-image: url('/internet.png') "
    >
    </div>
        <p slot="content" class="max-w-xl">Transforme su almacenamiento y procesamiento de datos con nuestra nube segura. Ofrecemos soluciones escalables que protegen su información mediante protocolos avanzados de seguridad, permitiéndole acceder a sus recursos desde cualquier lugar.</p>

    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-4" title="Infraestructura Empresarial">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full 
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat  -z-10 "
        style="background-image: url('/infraestructura.png') "
    >
    </div>
        <p slot="content" class="max-w-xl"> Diseñamos y implementamos una infraestructura robusta y escalable para respaldar el crecimiento de su empresa. Desde servidores hasta sistemas de almacenamiento, creamos bases sólidas que sustentan el éxito a largo plazo.</p>

    </BentoItem>
    <BentoItem class="col-span-10 md:col-span-6" title="Soluciones de Software">
        <div
        slot="image"
        class="absolute left-0 top-0 bottom-0 w-full 
        h-full group-hover:scale-110 transition-scale duration-1000
        ease-in-out opacity-90 bg-blend-luminosity bg-center bg-cover bg-no-repeat -z-10 "
        style="background-image: url('/software.png') "
    >
    </div>
        <p slot="content" class="max-w-xl">Desarrollamos aplicaciones y programas personalizados que se adaptan a las necesidades específicas de su empresa. Desde la automatización de procesos hasta herramientas de análisis, nuestras soluciones de software optimizan la productividad y mejoran la eficiencia operativa.</p>

    </BentoItem>
 
    

</section>