

<div class="w-full relative">
    <img 
    class="absolute top-0 bottom-0 z-10 w-[800px] left-0 right-0 m-auto animate-ease-in-out animate-fade animate-duration-1000"
    src="/Revify-07.png" alt="Isotipo Revify Costa Rica ">
    <video 
    class="w-full h-screen object-cover" 
    style="clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);"
    src="/Video.webm" 
    autoplay 
    loop 
    muted
    ></video>    
    <video 
    class="w-full h-auto absolute -bottom-48 blur-3xl -z-40" 
    src="/Video.mp4" 
    autoplay
    loop
    muted
    ></video> 
</div>